body{
    width: 70vw;
    margin: 10px auto;
    font-size: xx-large;   

}
#guess-button, #restart{
    display: inline-block;
    font-size: x-large;
}

#error-message{
    font-size: large;
}

#msg{
    font-size: large;
    font-style: italic;
    color: #ff0000;
}